@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../../division-bar/scss/_uiowa-bar-foundation.scss";
@import "footer";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
h1, h2 {
    text-transform: uppercase;
}

.header {
    background: #000;
    background: rgba(#000, 0.85);
    padding: 10px 0;
    color: $gold;
    text-transform: uppercase;

    @media #{$medium-up} {
        padding: 25px 0;
        border-bottom: $gold 7px dashed;
    }

    p {
        margin-bottom: 5px;

        @media #{$medium-up} {
            font-size: 1.3em;
        }
    }

    .subheader {
        color: $gold;
        margin-top: -5px;

        @media #{$medium-up} {}

        @media #{$xlarge-up} {
            //margin-top: -35px;
            text-align: right;
        }
    }

    img {
        text-align: center;
    }
}

.bg-container {
    background-image: url("../images/hero-image.jpg");
    background-position: 50% 10%;
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$medium-up} {
        height: 700px;
        border-bottom: 7px dashed white;
    }

    @media #{$large-up} {
        height: 850px;
        background-size: cover;
    }
}

.hero-content {
    color: white;

    ul li {
        font-size: 48px;
    }
}

.button {
    text-transform: uppercase;
}

.schedule {
    list-style-type: none;
    margin: 0;
}

.home {
    .details-container {
        @media #{$large-up} {
            // margin-top: -100px;
        }
    }
}

.details-container {
    background: $body-bg;
    padding-bottom: $column-gutter;

    @media #{$large-up} {
        //margin-top: -100px;
    }

    //border: 5px dashed #000;
    .details p, .details ul {
        text-align: left;

        //font-size: rem-calc(18);

        @media #{$large-up} {
            //font-size: rem-calc(26);
        }
    }

    .details ul {
        list-style-type: square;
        font-size: rem-calc(20);

        li {
            @media #{$large-up} {
                padding: 20px 0;
            }
        }

        @media #{$large-up} {
            line-height: 1;
        }
    }

    @media #{$large-up} {
        padding-top: $column-gutter / 2;
        text-align: left;
    }
}

.extended-details-bg {
    background: #F9F9F9;
    border-top: 7px dashed rgb(173, 173, 173);
    padding-top: 20px;
    padding-top: $column-gutter;

    section {
        padding-bottom: 60px;
    }
}

.location-container {
    ul {
        font-size: 16px;
        list-style-type: square;
        margin-bottom: 0;
    }
}