
.tab {
background-color: #3d4950 !important; /* for ie below version 9*/
border-left: 2px solid #dfc350;
border-right: 2px solid #dfc350;
border-bottom: 2px solid #dfc350;
}

.sli {
	
margin: 0;	
	
}

a img {
	border: 0;
}

.tutor {
	margin: 0;
}